@media (min-width:600px){
	#categories{
		width: 20%;
		float: left;
	}
	#allNotes{
		width :75%;
		margin-left: 22%;
		border-left:1px solid; 
	}
	#displayCategories div button{
		width: 80%;
	}
	#displayCategories div{
		display: block;
	}
}
@media (max-width:599px){
	#categories{
		width: 100%;
		float: none;
	}
	#allNotes{
		width :100%;
		margin-left: 0px;
		border-top:1px solid; 
	}
	#displayCategories div button{
		width: 100%;
	}
	#displayCategories div{
		display: inline-block;
	}
}
html,body{
	min-width: 600px;
	min-height: 600px;
}
.note{
	border: 1px black solid;
	padding: 3px;
	height: auto;
	width: 45%;
	margin: 5px;
	box-shadow: 2px 1px 5px black;
	display: inline-block;
	border-radius: 5px;
}
#categories{
	
	//position: absolute;
	padding: 5px;
	//border-right: 1px black solid;
}
#allNotes{
	//position: absolute;
	padding: 5px;
}
#line{
	position: absolute;
	margin-left: 21%;
	width: 0px;
	height: 98%;
	background-color: red;
	border-left: 1px black solid;
}
.catButton{
	//background: #E4EEFF;
	border-radius: 10px;
}
.add{
	width: 75px;
	height: 25px;
	background-color: rgb(255, 243, 243);
	border-radius: 10px;
}
.add:focus{
	outline-width: 0;
}
#newNote{
	position: absolute;
}
span{
	text-decoration: underline;
}
button{
	margin: 2px;
	cursor: pointer;
}
button:focus{
	outline-width: 0;
	border: 2px #B3B3B3 inset;
}
body{
	font-family: Verdana;
}
input[type='text'],textarea{
	width:50%;
	height: 50%;
	border:none;
	font-size: 0.75em;
	margin: 8px auto 8px auto;
	border-bottom: 1px #80e5ff solid;
}
input[type='text']:focus,textarea:focus{
	outline-width: 0;
	border-bottom: 2px blue solid;
}

#displayCategories div button{
	height: 15%;
	font-size: 0.80em;
}
.note div:nth-child(1){
	margin: auto auto 2% 2%;
}

.note div:nth-child(2) div button{
	float: left;
	margin: auto auto auto 2%;
	font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    height: 18px;
    line-height: 10px;
    border: 2px #B3B3B3 outset;
    padding: 0px
}
.note div:nth-child(2) div button:focus{
	border: 2px #B3B3B3 inset;
}
.note div:nth-child(2) div button#delete{
	width:16%;
    background-color: orangered;   
}
.note div:nth-child(2) div button#checkbox{
	width:24%;
    background-color: #5EC9FD;
}

.note div:nth-child(2) div select{
	//-webkit-appearance: none; 
	width:20%;
	float: left;
	margin: auto auto auto 2%;
}
.note div:nth-child(2) div select:focus{
	outline-width: 0;
}
.note div span{
	text-decoration: underline;
}
.completed{
	text-decoration: none;
	text-decoration: line-through !important;
}
textarea{
	resize:none;
	font-size: 1em;
}
.editing{
	font-size:1em;
	width:95%;
	height:20px;
	border:none;
	margin:8px auto 8px auto;
	border-bottom:1px #80e5ff solid;
	background-color:transparent;
}
#contextMenu div{
	border:1px solid black;
	cursor: pointer;
	font-size: 0.75em;
	padding: 3px;
}
#contextMenu div:focus{
	background-color: blue;
}